In [1]:
import pandas as pd
import pyramid
import plotly.plotly as plt
import cufflinks as cf
import numpy as np
from plotly.plotly import plot_mpl
from statsmodels.tsa.seasonal import seasonal_decompose
from pandas import *
from pandas import ExcelWriter
from pandas import ExcelFile
from pandas import datetime
from matplotlib import pyplot

In [6]:
df=pd.read_excel('DC Shipment 1 Cleaned (1).xlsx',sheetname='DC Shipments Monthly Data Clean')

In [7]:
df.head()

,center_num,vendor_item_num,vendor_item_name,inventory_item_name,order_guide_item_name,mapped_item_name,NEW_NAME_MERGE,sum_quantity_adj_edit,sum_quantity_adj,sum_item_tax_amt,delivery_date,distributor,distributor_group,loc_dist_ctr,center_name
0,16,101388,NaN,"Test 3 Cookie Blend, Pieces",NaN,"3 COOKIE BLEND, PIECES","3 COOKIE BLEND, PIECES",63,63,NaN,2017-11-30,QCD,QCD,PHX,PHOENIX
1,16,101388,NaN,"Test 3 Cookie Blend, Pieces",NaN,"3 COOKIE BLEND, PIECES","3 COOKIE BLEND, PIECES",67,67,NaN,2017-10-31,QCD,QCD,PHX,PHOENIX
2,20,100182,AIR FRSHNR DISPNSR & REFILL,AIR FRSHNR DISPNSR & REFILL,AIR FRSHNR DISPNSR & REFILL,AIR FRSHNR DISPNSR & REFILL,AIR FRSHNR DISPNSR & REFILL,8,8,209.37,2015-08-31,MBM,MBM,MCN,MACON
3,14,100182,AIR FRSHNR DISPNSR & REFILL,AIR FRSHNR DISPNSR & REFILL,AIR FRSHNR DISPNSR & REFILL,AIR FRSHNR DISPNSR & REFILL,AIR FRSHNR DISPNSR & REFILL,1,1,86.67,2015-04-30,MBM,MBM,ELKHORN,ELKHORN
4,27,100182,AIR FRSHNR DISPNSR & REFILL,AIR FRSHNR DISPNSR & REFILL,AIR FRSHNR DISPNSR & REFILL,AIR FRSHNR DISPNSR & REFILL,AIR FRSHNR DISPNSR & REFILL,2,2,57.78,2014-10-31,MBM,MBM,ABD,ABERDEEN

In [15]:
df1=df.groupby(['NEW_NAME_MERGE','delivery_date']).agg({'sum_quantity_adj_edit':'sum'})
#len(df1)
newlist=[]
list_1=list(df.NEW_NAME_MERGE)
list_1
for i in list_1:
    if i not in newlist:
        newlist.append(i)
newlist
df1.head()

                                           sum_quantity_adj_edit
NEW_NAME_MERGE              delivery_date
3 COOKIE BLEND, PIECES      2017-10-31                        67
                            2017-11-30                        63
AIR FRSHNR DISPNSR & REFILL 2014-01-31                        47
                            2014-02-28                        37
                            2014-03-31                        36

In [16]:
m1='2017-03-31'
m2='2017-04-30'
m3='2017-05-31'
for i in range(len(newlist)):
    if m2 in df1.loc[newlist[i]].index:
        if m3 in df1.loc[newlist[i]].index:
            df1.loc[newlist[i]].loc[m2]=int(1/2*(df1.loc[newlist[i]].loc[m1]+df1.loc[newlist[i]].loc[m3]))
        else:
            df1.loc[newlist[i]].loc[m2]=df1.loc[newlist[i]].loc[m1]

In [17]:
df1.loc[newlist[1]]

               sum_quantity_adj_edit
delivery_date
2014-01-31                        47
2014-02-28                        37
2014-03-31                        36
2014-04-30                        47
2014-05-31                        42
2014-06-30                        48
2014-07-31                        46
2014-08-31                        42
2014-09-30                        61
2014-10-31                        44
2014-11-30                        43
2014-12-31                        31
2015-01-31                        63
2015-02-28                        73
2015-03-31                        27
2015-04-30                        35
2015-05-31                        34
2015-06-30                        42
2015-07-31                        36
2015-08-31                        68
2015-09-30                        48
2015-10-31                        39
2015-11-30                        47
2015-12-31                        38
2016-01-31                        42
2016-02-29                        59
2016-03-31                        49
2016-04-30                        39
2016-05-31                        45
2016-06-30                        33
2016-07-31                        47
2016-08-31                        41
2016-09-30                        51
2016-10-31                        48
2016-11-30                        60
2016-12-31                        41
2017-01-31                        31
2017-02-28                        28
2017-03-31                        42
2017-04-30                        42

In [18]:
df1['NEW_NAME_MERGE']=df1.index.get_level_values('NEW_NAME_MERGE')
df1['delivery_date']=df1.index.get_level_values('delivery_date')
cols = ['NEW_NAME_MERGE','delivery_date','sum_quantity_adj_edit']
df1=df1[cols]
df2=df1.reset_index(drop=True)

In [12]:
writer = pd.ExcelWriter('newdf.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df2.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()